
<div class="editgroup">
    <button (click)="addPageList()" class="btn btn-sm btn-light ebutton"><i class="bi bi-plus-lg"></i> New</button>
    <button (click)="editPageList()" class="btn btn-sm btn-light ebutton"><i class="bi bi-pencil-fill"></i> Edit</button>
    <button (click)="deletePageList()" class="btn btn-sm btn-light ebutton"><i class="bi bi-x-lg"></i> Delete</button>
</div>

<h1><i class="bi bi-file-earmark-fill"></i> Pages</h1>
<hr>
<app-submenu></app-submenu>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><input type="checkbox"></th>
        <th scope="col">Page Title</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataList">
        <td scope="row"><input type="checkbox" (change)="selectRow($event, data)"></td>
        <td class="primary-texts">{{data.pTitle}}</td>
        <td>{{data.category}}</td>
        <td>{{data.author}}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <!-- <span class="sr-only">Next</span> -->
        </a>
      </li>
    </ul>
  </nav>